#attendance-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#attendance-label {
    font-size: 100%;
    margin-right: 10%;
}

#attendance-readout {
    display: flex;
    align-items: center;
    justify-content: center;

    border: solid 5px white;
    border-radius: 25px;
    font-weight: bold;

    padding-left: 10%;
    padding-right: 10%;
}