#attendance-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#attendance-readout {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;

    border: solid 2px white;
    border-radius: 25px;
    font-weight: bold;

    padding-left: 10%;
    padding-right: 10%;
}