.calendar-item-main {
    background-color: white;
    font-size: 50%;

    position: absolute;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    border-bottom: solid 1px white;

    box-sizing: border-box;
    /* border-radius: 5px; */

    padding-left: 2%;
    padding-right: 2%;

    text-shadow: 1px 1px 2px black;
}

.calendar-item-capacity {
    max-height: 95%;
    right: 20%;

    background-color: black;
    border-radius: 10px;
    padding-left: 2%;
    padding-right: 2%;

    text-align: center;
    text-shadow: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar-item-time {
    text-align: right;
}

.calendar-item-selected {
    /* border: solid 2px white; */
    background-color: yellow;
    color:black;
}

.calendar-item-circle {
    height: 80%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: white;
    margin-right: 2%;
}

@keyframes move-noflex {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.calendar-item-title2 {
    flex: 1;
    white-space: nowrap;
    /* text-overflow: ellipsis; */
    overflow: hidden;

    margin-left: 2%;
    margin-right: 2%;
    
    position:relative;

    display:flex;
    align-items: center;   
}


.marquee2 {
    position:absolute;
    animation: 20s move-2 0s linear infinite;
    padding-left: 25%;
}

.marquee3 {
    position:absolute;
    animation: 20s move-3 -10s linear infinite;
    padding-left: 25%;
}

.invis {
    opacity: 0;
}

@keyframes move-2 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes move-3 {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}