.calendar-day-weekday {
    font-size: 100%;
    text-align: center;
    text-justify: center;
    font-weight: bold;
}

.calendar-day-container {
    flex: 1;
    margin: 10px;
    border: solid 3px white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;

    padding: 10px;
}

.calendar-day-needle {
    width:100%;
    background-color: red;
    height: 0.5%;
    position: absolute;
}

.calendar-day-no-trainings {
    font-style: italic;
    text-align: center;
    /* flex: 1; */
}