.calendar-item-main {
    width: 100%;
    
    background-color: white;
    font-size: 35%;

    color: black;
    
    position: absolute;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-bottom: solid 1px black;

    box-sizing: border-box;
    /* border-radius: 5px; */

    padding-left: 2%;
    padding-right: 2%;

    text-shadow: 0 0 5px white;
}

.calendar-item-title {
    white-space: nowrap;
    text-overflow: ellipsis;
    flex: 1;
    overflow: hidden;
    margin-right: 2%;
}