#clock-main{
    font-family: "San Francisco";
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#clock-closing {
    font-style: 'italic';
    white-space: nowrap;
}